.nav-link-item .login-btn {
  padding: 0.375rem 0.75rem;
  color: var(--text-color);
  margin: 0 0.5rem;
}
.nav-link-item .login-btn:hover {
  color: var(--text-color);
}
.nav-link-item-icon {
  padding: 0.5rem;
  font-size: 1.75rem;
  cursor: pointer;
  color: var(--text-color);
}
.nav-link-item-icon:hover {
  color: var(--blue-400);
}
.quiz-hero-logo {
  width: 5rem;
  padding-left: 0.25rem;
}
.landing-nav {
  padding: 0.25rem 0rem;
  width: 100%;
}
.nav-search {
  min-width: 35rem;
}
.nav-text-input {
  font-size: 1rem;
  padding: 0.25rem 0.5rem;
  border-radius: 0.75rem;
  transition: 0.4s all ease;
  background-color: var(--background-color);
  color: var(--text-color);
  border: 2px solid var(--secondary-color);
}
@media screen and (max-width: 750px) {
  .nav-search {
    min-width: 20rem;
    width: max-content;
  }
}
@media screen and (max-width: 500px) {
  .nav-link-item .login-btn {
    padding: 0.25rem 0.375rem;
    font-size: 0.8rem;
    margin: 0 0.2rem;
  }
  .nav-search {
    min-width: 10rem;
  }
}
